div{
    width: 500px;
    height: 200px;
    background-color: green;
    box-sizing: border-box;
    transform: top left translate(-90deg);
    
}
p{
    font-size: x-large;
    color: rgb(255, 255, 255);

}