body{
    background-color: beige;
    font-size: 20px;
}
.h1{
    text-align: center;
}
.h2{
    color: blue;
}
.pre1{
    color:darkblue;
    font-size: 18;
}
.h3{
    color: green;
    text-align: center;
}
.pre2{
    color: darkgoldenrod;
    text-align: center;
    font-size: 1500;
}
.p1{
    font-size: 30px;
}
a{
    font-size: 20px;
}
